<form method="post" id="team_assist_form">
    {{ form.id }}
    <label for="time" class="form-label mb-2">Assist Till</label>
    <select name="time" id="time" class="select">
        {% for value, label in form.time.field.choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>
    <label for="{{ form.manager.id_for_label }}" class="form-label mb-2 mt-5">Assist To</label>
    {{ form.manager }}
    <div class="flex justify-end mt-5">
        <button type="submit" class="btn btn-primary">Assist</button>
    </div>
</form>

