{% extends 'base_site.html' %}

{% block title %}Add New Employee | Office Orbit{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <a href="{% url 'dashboard' %}" class="text-gray-600 hover:text-primary">Dashboard</a>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <a href="#" class="text-gray-600 hover:text-primary">Employees</a>
        <i class="ki-filled ki-right text-gray-700 text-3xs"></i>
        <span class="text-gray-800">Add New Employee</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <!-- begin: container -->
    <div class="container-fixed">
        
    
            
    </div>
    <!-- end: container -->
    
{% endblock content %}